body{font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.5;
}

*,
*:before,
*:after{box-sizing: border-box;}
p{margin: 0 0 0 5px;}

.faq{max-width: 500px;
margin: 20px auto;

}

.faq-item{border: 1px solid  linear-gradient(to right,#df1ba4, #303892);;
    background-color: rgb(17, 204, 204);
    margin-bottom: 5px;
}


 .faq-text{display: none; 
font-size: 14px;
font-weight: bold;
color: black;
transition-duration: 5s ease-out;
background-color: aliceblue;}

.faq-title{color:black;
font-size: 16px;
display: block;
cursor: pointer;
padding: 10px 15px;
}

.faq-title:hover{background-color: rgb(136, 132, 132);
transition:background-color 0.2s ease-out;
}

.faq-input:checked ~ .faq-text{display: block;}
.faq-input:checked ~ .faq-title{background-color: rgb(113, 178, 204);}

.faq-input{appearance: none;
-webkit-appearance: none;
position: absolute;
width: 0;
height: 0;}

 .four{text-align: right;}

 .table{width: 100%;
display: flex;
justify-content: space-between;
padding: 0px 10px;
border: 1px solid #C8C8C8;
margin-bottom: 10px;
background-color: rgb(224, 224, 224);}

.table:hover{ background-color:whitesmoke;
border: 1px solid rgb(19, 99, 26);
cursor: pointer;
}

